vendor/
node_modules/
npm-debug.log
yarn-error.log
composer.phar

# Project specific
/production/
/.ssh/
*.bak

# Laravel 5 & Lumen specific
public/storage
public/hot
storage/*.key
.env.*.php
.env.php
.env
Homestead.yaml
Homestead.json

# Vagrant specific
.vagrant/

# PhpStorm specific
.idea/
packages/
