
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap/scss/bootstrap";

// Font-Awesome
@import "~font-awesome/scss/font-awesome";


// Navbar
#navbar-login {
  border-bottom-left-radius: 0.5rem;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  opacity: 0.2;
}
#navbar-login:hover,
#navbar-login:active  {
  opacity: 1;
}

// Sidebar
@include media-breakpoint-up(md) {
  #sidebar-sticker {
    position: -webkit-sticky;
    position: sticky;
    top: 1px;
    min-height: 97vh;
  }
  #sidebar-contacts {
    position: absolute;
    bottom: 0;
    width: 100%;
  }
}

// Main content
#main-container    {
  min-height: 100vh;
  border-left: 1px solid #DDD;
}
#header {
  background: url('/../images/intro-bg.jpg') no-repeat center;
  background-size: cover;
  min-height: 40vh;
}

.block:nth-of-type(odd) {
  background-color: rgba(0,0,0,.05);
}
